<a href="/expenses/new" class="btn btn-primary mb-3">Create</a>
<div>
    <form action="/" method="GET">

        <select class="form-select" name="categorySelected" id="categorySelected" onchange="submit();">
            <option selected>類別</option>
            <option {{#ifEquals categorySelected "生活" }}selected{{/ifEquals}}>生活</option>
            <option {{#ifEquals categorySelected "交通" }}selected{{/ifEquals}}>交通</option>
            <option {{#ifEquals categorySelected "娛樂" }}selected{{/ifEquals}}>娛樂</option>
            <option {{#ifEquals categorySelected "飲食" }}selected{{/ifEquals}}>飲食</option>
            <option {{#ifEquals categorySelected "其他" }}selected{{/ifEquals}}>其他</option>
        </select>

        <select class="form-select" name="monthSelected" id="monthSelected" onchange="submit();">
            <option selected>月份</option>
            <option {{#ifEquals monthSelected "1" }}selected{{/ifEquals}} value="1">1月</option>
            <option {{#ifEquals monthSelected "2" }}selected{{/ifEquals}} value="2">2月</option>
            <option {{#ifEquals monthSelected "3" }}selected{{/ifEquals}} value="3">3月</option>
            <option {{#ifEquals monthSelected "4" }}selected{{/ifEquals}} value="4">4月</option>
            <option {{#ifEquals monthSelected "5" }}selected{{/ifEquals}} value="5">5月</option>
            <option {{#ifEquals monthSelected "6" }}selected{{/ifEquals}} value="6">6月</option>
            <option {{#ifEquals monthSelected "7" }}selected{{/ifEquals}} value="7">7月</option>
            <option {{#ifEquals monthSelected "8" }}selected{{/ifEquals}} value="8">8月</option>
            <option {{#ifEquals monthSelected "9" }}selected{{/ifEquals}} value="9">9月</option>
            <option {{#ifEquals monthSelected "10" }}selected{{/ifEquals}} value="10">10月</option>
            <option {{#ifEquals monthSelected "11" }}selected{{/ifEquals}} value="11">11月</option>
            <option {{#ifEquals monthSelected "12" }}selected{{/ifEquals}} value="12">12月</option>
        </select>
    </form>
</div>
<div class="my-5">
    總金額:
    <h1 class="d-flex justify-content-center">
        {{totalAmount}}
    </h1>
</div>


<ul class="list-group list-group-flush">
    {{#each expense}}
    <li class="list-group-item">
        <div class="row">
            <div class="col-10 row">
                <div class="col-1" style="font-size: 2rem; color:aqua;">
                    {{#ifEquals this.category "生活"}}<i class="fas fa-home"></i>{{/ifEquals}}
                    {{#ifEquals this.category "交通"}}<i class="fas fa-shuttle-van"></i>{{/ifEquals}}
                    {{#ifEquals this.category "娛樂"}}<i class="fas fa-grin-beam"></i>{{/ifEquals}}
                    {{#ifEquals this.category "飲食"}}<i class="fas fa-utensils"></i>{{/ifEquals}}
                    {{#ifEquals this.category "其他"}}<i class="fas fa-pen"></i>{{/ifEquals}}
                </div>
                <div class="col-2 mr-auto">
                    <h5 style="display: inline;">
                        {{this.name}}
                    </h5>
                    <div>
                        {{this.stringDate}}
                    </div>
                </div>
                <div class="col-5 mr-auto">
                    {{this.merchant}}
                </div>
                <div class="col-4" style="text-align:right;">
                    <h4 class="mr-4">{{this.amount}}</h4>
                </div>
            </div>
            <div class="col-2">
                <a class="btn btn-success" href="./expenses/{{this._id}}/edit"><i class="far fa-edit"></i></a>
                <form action="./expenses/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
                    <button class="btn btn-danger" type="submit"><i class="fas fa-trash-alt"></i></button>
                </form>
            </div>

        </div>
    </li>
    {{/each}}
</ul>